= render partial: "shared/nav"

.container.about-page
  %img#ruby_portrait(src="/images/ruby-portrait.JPG")
  #about
    .row
      .small-12.large-4.columns
        %h3.about This is Ruby.
        %p.about We rescued her in 2012, and she is the inspiration for this app. She is a shepherd mix with a unique personality. She loves swimming in the lake, waffles and her tennis ball.
      .small-12.large-4.columns
        %h3.about Rescue.
        %p.about Hundreds of dogs remain in shelters each day waiting to be rescued. A rescued shelter dog has a tremendous sense of appreciation, which in turn makes their companionship unparalled.
      .small-12.large-4.columns
        %h3.about About this app.
        %p.about This app is meant to encourage the adoption of dogs from shelters.  If even just one dog gets adopted due to this app, we will have reached our goal.
