.container.home-page
  .row
    .small-12.columns
      #logo-container
        %img#rubydoo(src="/images/rubydoo-icon.png")
        %h1.logo ruby<span id="doo">doo</span>
        .clearfix
  .row
    .small-12.columns
      %h3.text-center man's best friend.
  .row
    .small-12.columns
      %p.text-center Find the right dog for your lifestyle, then rescue it.
  .row.home-buttons
    .small-6.large-3.columns
      = link_to "Search Shelters", static_pages_shelter_form_path, data: {:'reveal-id' => "zipcodeModal", :'reveal-ajax' => 'true'}, id: "search-shelter", class: "button"
    .small-6.large-offset-6.large-3.columns
      = link_to "Find Your Breed", breeds_find_path, id: "find-breed", class: "button"
  %div#zipcodeModal.reveal-modal.small
