.contain-to-grid.fixed
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          %a.logo(href="/")
            %img.dog(src="/images/rubydoo-icon.png") ruby<span id="doo">doo</span>
      %li.toggle-topbar.menu-icon
        %a(href="#")
          %span Menu
    %section.top-bar-section
      %ul.right
        %li
          %a(href="/breeds/find") Find Your Breed
        %li.divider
        %li
          = link_to "Search Shelters", static_pages_shelter_form_path, data: {:'reveal-id' => "zipcodeModal", :'reveal-ajax' => 'true'}
%div#zipcodeModal.reveal-modal.small