@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

body {
  background: #404040;
}

// Theme colors:
$brand-color: #3b5998;
$text-color: #DEDEDE;
$teal-btn: #1E697F;
$light-green-btn: #A4C9BB;

.container {
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Source Sans Pro', sans-serif;
  color: #DEDEDE;
  font-weight: 300;
}

.button{
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

#logo {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 55px;
}

#doo {
  font-weight: 200;
  color: #BDDBD8;
}

.home-buttons {
  margin-top: 300px;
}

.home-page {
  a.button {
    width: 100%
  }
}

#search-shelter {
  background-color: $teal-btn;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  &:hover {
    background-color: darken( $teal-btn, 3% );
  }
}

#find-breed {
  background-color: $light-green-btn;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  &:hover {
    background-color: darken( $light-green-btn, 3% );
  }
}



