@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

body {
  background: #404040;
}

// Theme colors:
$dark-grey: #404040;
$brand-color: #3b5998;
$text-color: #DEDEDE;
$teal-btn: #1E697F;
$light-green-btn: #A4C9BB;
$light-grey: #DEDEDE;
$ice-blue: #BDDBD8;

.container {
  width: 100%;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Source Sans Pro', sans-serif;
  color: $light-grey;
  font-weight: 300;
}

.button{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

#rubydoo {
  float: left;
  height: 75px;
}

.dog {
  float: left;
  height: 30px;
  position: relative;
  top: 2px;
}

.logo {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 55px;
  float: left;
  position: relative;
  top: 4px;
}

.top-bar {
  .logo {
    font-size: 22px;
  }
}

#doo {
  font-weight: 200;
  color: $ice-blue;
}

#logo-container {
  display: block;
  width: 275px;
  margin: 0 auto;
  margin-top: 25px;
}

.home-buttons {
  margin-top: 300px;
}

.home-page {
  a.button {
    width: 100%
  }
}

#search-shelter {
  background-color: $teal-btn;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  &:hover {
    background-color: darken( $teal-btn, 3% );
  }
}

#find-breed {
  background-color: $light-green-btn;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  &:hover {
    background-color: darken( $light-green-btn, 4% );
  }
}

// Shelter Listings Styles

// Google Maps API V3 : weird UI display glitch fix:
#map img {
  max-width: none;
}

.map-container {
  width: 100%;
}

.shelter-index {
  h1, h6 {
    text-align: center;
    font-size: 2.5em;
  }
  h6 {
    font-size: 1em;
  }
}

.shelter {
  margin: 30px 0;
  h5 {
    color: $ice-blue;
    font-weight: 400;
  }
  p {
    margin-bottom: 8px;
  }
  hr {
    margin: 10px 0;
  }
  a {
    text-decoration: underline;
  }
}

.oops {
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

// Foundation Navigation Styling

.top-bar {
  height: 48px;
}

.top-bar, .contain-to-grid, .top-bar-section li a:not(.button), .reveal-modal {
  background: #242424;
}

.top-bar .name h1 a {
  font-weight: normal;
}

.top-bar-section ul li > a {
  font-weight: normal;
  font-size: 1em;
}

// Find Your Breed Form Styling

#progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: $dark-grey;
  margin-top: 75px;
  #progress {
    height: 20px;
    float: left;
    background-color: $ice-blue;
    width: 0%;
  }
}
.breeds-find {
  background: url(/images/fetch.png) no-repeat;
  background-size: cover;
  background-color: #404040;
  .small-11 {
    padding-left: 0;
  }
  label {
    color: $text-color;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    padding: 2px 0 14px 0;
    vertical-align: top;
  }
}

.find-breeds-container {
  min-height: 275px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 400px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  section h3 {
    padding: 20px;
  }
}

.next-step {
  background: $light-green-btn;
  float: left;
  margin: 20px 0 15px 0;
  &:hover {
    background-color: darken( $light-green-btn, 4% );
  }
}

// About Page Styling

#ruby_portrait {
  width: 100%;
}

#about {
  width: 100%;
  background-color: $light-grey;
  h3 {
    margin:20px 5px;
    text-align: center;
    font-weight: 600;
    color: $teal-btn;
  }
  p {
    padding: 20px;
    text-align: justify;
  }
}

.about {
  color: $dark-grey;
}

// Find Your Breed Results
.breeds {
  .breed-image {
    margin-top: 6px;
    width: 100%;
  }
  .breed {
    h3, p {
      padding-right: 40px;
    }
    h3 {
      font-size: 1.8em;
    }
    p {
      margin-bottom: 10px;
      color: $ice-blue;
      font-weight: 400;
    }
    .search-breeds {
      float: right;
    }
  }
}

input[type="text"].hidden {
  display: none;
}

@media all and (min-width: 768px){
  .breeds-find {
    label {
      font-size: 20px;
      float: left;
    }
  }
  .find-breeds-container {
    padding-left: 50px;
  }
}